apiVersion: skaffold/v4beta6
kind: Config
requires:
  - path: ../common/skaffold.chicmoz-base-image.yaml
build:
  artifacts:
    - image: registry.digitalocean.com/aztlan-containers/explorer-api-mainnet
      context: ../../../services/explorer-api
      docker:
        dockerfile: Dockerfile
      requires:
        - image: registry.digitalocean.com/aztlan-containers/chicmoz-base
          alias: BASE
deploy:
  kubectl:
    flags:
      apply: ["--force"]
  manifests:
    rawYaml:
      - ./mainnet/postgres-config.yaml
      - ./mainnet/service.yaml
      - ./mainnet/httproute.yaml
      - ./mainnet/http-filter.yaml
      - ./mainnet/securitypolicy.yaml
      - ./mainnet/deployment.yaml
