.idea
build*
!scripts/build_contract_compiler.sh
!scripts/build_contract_compiler_from_nargo.sh
node_modules*
.DS_Store

*.env
!chicmoz-example.env

ignore/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!.github/workflows/*
