apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: aztec-sandbox-node
  name: aztec-sandbox-node
  namespace: chicmoz
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aztec-sandbox-node
  strategy: {}
  template:
    metadata:
      labels:
        app: aztec-sandbox-node
    spec:
      initContainers:
        - name: wait-for-anvil
          image: aztecprotocol/aztec:3.0.1-rc.1
          command:
            [
              "sh",
              "-c",
              "until nc -z anvil-ethereum-node 8545; do echo waiting for anvil; sleep 2; done",
            ]
      containers:
        - image: aztecprotocol/aztec:3.0.1-rc.1
          name: aztec-sandbox-node
          resources:
            limits:
              memory: 4Gi
              cpu: 2000m
          command: ["node"]
          args:
            - ./aztec/dest/bin/index.js
            - start
            - --local-network
          ports:
            - name: pxe-port
              containerPort: 8081
              protocol: TCP
          env:
            # NOTE: Reference file in aztec-packages: yarn-project/aztec/src/cli/aztec_start_options.ts
            #- name: DEBUG
            #  value: "aztec:*"
            - name: ETHEREUM_HOSTS
              value: "http://anvil-ethereum-node:8545"
            - name: L1_CHAIN_ID
              value: "31337"
            - name: AZTEC_PORT
              value: "8081"
status: {}
