apiVersion: skaffold/v4beta6
kind: Config
requires:
  - path: ./common/skaffold.base.yaml
deploy:
  kubectl:
    flags:
      apply: ["--force"]
manifests:
  rawYaml:
    - ./sandbox/postgres-config.yaml
    - ./sandbox/service.yaml
    - ./sandbox/http-filter.yaml
    - ./sandbox/securitypolicy.yaml
    - ./sandbox/httproute.yaml
    - ./sandbox/deployment.yaml
