apiVersion: skaffold/v4beta6
kind: Config
deploy:
  kubectl:
    flags:
      apply: ["--force"]
manifests:
  rawYaml:
    - k8s/local/kafka-ui/configmap.yaml
    - k8s/local/kafka-ui/configmap-env.yaml
    - k8s/local/kafka-ui/httproute.yaml
  helm:
    releases:
      - name: kafka-ui
        version: 0.7.6
        remoteChart: kafka-ui
        repo: https://provectus.github.io/kafka-ui-charts
        namespace: chicmoz
        setValues:
          yamlApplicationConfigConfigMap.name: kafka-ui-configmap
          yamlApplicationConfigConfigMap.keyName: config.yml
          existingConfigMap: kafka-ui-helm-values
        createNamespace: false
        recreatePods: false
        skipBuildDependencies: false
        useHelmSecrets: false
        wait: false
