apiVersion: skaffold/v4beta6
kind: Config
metadata:
  name: websocket-event-publisher-devnet
requires:
  - path: ../common/skaffold.chicmoz-base-image.yaml
build:
  artifacts:
    - image: registry.digitalocean.com/aztlan-containers/websocket-event-publisher-devnet
      context: ../../../services/websocket-event-publisher
      docker:
        dockerfile: Dockerfile
      requires:
        - image: registry.digitalocean.com/aztlan-containers/chicmoz-base
          alias: BASE
deploy:
  kubectl:
    flags:
      apply: ["--force"]
manifests:
  rawYaml:
    - ./devnet/service.yaml
    - ./devnet/deployment.yaml
    - ./devnet/ingress.yaml
