apiVersion: skaffold/v4beta6
kind: Config
metadata:
  name: only-swagger-prod
deploy:
  kubectl:
    flags:
      apply: ["--force"]
  manifests:
    rawYaml:
      - ./swagger/deployment.yaml
      - ./swagger/service.yaml
      - ./swagger/httproute.yaml
