apiVersion: skaffold/v4beta6
kind: Config
requires:
  - path: ../common/skaffold.chicmoz-base-image.yaml
build:
  artifacts:
    - image: registry.digitalocean.com/aztlan-containers/auth
      context: ../../../services/auth
      docker:
        dockerfile: Dockerfile
      requires:
        - image: registry.digitalocean.com/aztlan-containers/chicmoz-base
          alias: BASE
manifests:
  rawYaml:
    - ./postgres-config.yaml
    - ./service.yaml
    - ./deployment.yaml
deploy:
  kubectl:
    flags:
      apply: ["--force"]
