apiVersion: skaffold/v4beta5
kind: Config
metadata:
  name: anvil-deployment
build:
  local:
    push: false
    tryImportMissing: false
  artifacts:
    - image: aztecprotocol/foundry
      custom:
        buildCommand: |
          # Unset minikube docker env to use host docker
          unset DOCKER_TLS_VERIFY DOCKER_HOST DOCKER_CERT_PATH MINIKUBE_ACTIVE_DOCKERD
          # Pull foundry image with anvil
          docker pull aztecprotocol/aztec:3.0.0-devnet.20251212
          docker tag aztecprotocol/aztec:3.0.0-devnet.20251212 $IMAGE
          # Load into minikube
          minikube image load $IMAGE
        dependencies:
          paths:
            - "."
