apiVersion: skaffold/v4beta6
kind: Config
metadata:
  name: websocket-event-publisher-remote-devnet
requires:
  - path: ./common/skaffold.base.yaml
deploy:
  kubectl:
    flags:
      apply: ["--force"]
manifests:
  rawYaml:
    - ./remote_devnet/service.yaml
    - ./remote_devnet/deployment.yaml
    - ./remote_devnet/httproute.yaml
    - ./remote_devnet/clienttrafficpolicy.yaml
